body {
    background-color: #333333;
}


.archi {
    padding: 20em 0;
    text-align: center;
    font-size: .8em;
    color: lightgrey;
    position: relative;
}

.archi a {
    color: white;
    text-decoration: none;
}

.archi a:hover {
    color: white;
}

.archi nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

.archi nav a {
    padding: 10px 30px;
    font-size: 1.3em;
    display: inline-block;
    position: relative;
    z-index: 5;
    transition: all .5s;
}

.archi nav a:hover {
    background: lightgrey;
    color: #fff;
    border-radius: 25% 10%;
}