*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
}

body {
    background-color : #333333;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0 120px;
    padding-bottom: 50px;
}

.menu-items {
    text-align: center;
    position: absolute;
    padding: 1rem;
    margin-top: -2rem;
    margin-left: -1rem;
    top: 120px;
    right: 30px;
    list-style: none;
    opacity: 0;
    font-size: 1.5rem;
    border: 4px solid black;
    background-color: black;
    border-radius: 0.25em;
    transform: translateX(-10%);
    transition: transform 100ms ease-in-out, opacity 200ms;
    z-index: 50000;
}

.menu-items li {
    color: white;
    padding: 0.5rem;
}

.menu-items li a {
    color: white;
    text-decoration: none;
}

.menu-items li a:hover {
    color: rgb(174, 174, 174);
}

.check {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 3rem;
    width: 3rem;
    opacity: 0;
    z-index: 3;
}

.check:hover {
    cursor: pointer;
}

.check:checked~.menu-items {
    display: block;
    transform: translateX(0%);
    opacity: 1;
}

.ham-menu {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 0.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-radius: 0.25em;
}

.ham-menu .line {
    background-color: white;
    border-radius: 1em;
    width: 2rem;
    height: 0.25rem;
}

.ham-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
}

.check:checked~.ham-menu .line1 {
    display: block;
    transform: rotate(45deg);
}

.check:checked~.ham-menu .line2 {
    opacity: 0;
}

.check:checked~.ham-menu .line3 {
    display: block;
    transform: rotate(-45deg);
}

.langue {
    position: absolute;
    margin-left: 1480px;
    margin-top: 40px;
    border: 1px solid #fff;
    background-color: #333333;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    width: 10%;
    height:30px;
    line-height:30px;
}

.langue2 {
    color: #ea5c0d;
    text-decoration: none;
    padding: 10px;
}

.langue2:hover{
    background: #505050;
    border-radius: 30px;
}

#elporvenir {
    height:325px;
    width:600px;
}

.container_maptxt {
    display:flex;
    margin: 0 120px;
}

.Texte {
    padding-left:15px;
    color: white;
    font-family: "Cicle";
    font-size:x-large;
}

.ul1 {
    padding-top:25px;
    padding-left:100px;
    font-family: "Cicle";
    font-size:x-large;
}

.ul7 {
    font-family: "Cicle";
    font-size:x-large;
    padding-left:100px;
    padding-top:25px;
}

h1 i {
    color: #ea5c0d;
    font-size: 45px;
    font-family: "Dyno";
}

.container-suite {
    display:flex;
    justify-content: space-around;
    margin-top:30px;
}

.container-suite div {
    background-color: rgba(92, 92, 92, 0.87);
    padding:20px;
    border-radius: 20px;
}

.container-suite div h3 {
    text-align:center;
}

.ul2 {
    padding-top:25px;
    padding-left:10px;
    margin-left:50px;
    margin-right:50px;
    font-family: "Cicle";
    font-size:x-large;
}

.ul2 li {
    padding:5px 0;
}

.ul3, .ul4 {
    padding-top:25px;
    margin-left:25px;
    margin-right:25px;
    font-family: "Cicle";
    font-size:x-large;
}

.ult-3, .ult-4 {
    padding-left:50px;
}

.ul5 {
    padding-top:25px;
    margin-left:25px;
    margin-right:25px;
    font-family: "Cicle";
    font-size:x-large;
}

.ult-5 {
    padding-left:50px;
}
